
/* 
    import 'relative/path/to/stylesheet.scss';
*/
.luzSemaforo{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    border-style: solid;

}
.semaforo{
        background-color: black;
        width: 100px;
        height: 260px;
        margin: auto;
        border-radius: 10px;
        padding-top: 12px;
}
.barra{
    background-color: black;
    width: 5px;
    height: 50px;
    margin: auto;
}

.agregarColorBtn{
    margin-top: 80px;
}
.cambiarColorBtn{
    margin-top: 10px;
}
.cambioDeColor{
    width: 130px;
}